// store all the variable definition
$themeColor1: rgba(96, 5, 112, 1);
$themeColor2: rgba(16, 193, 193, 1);
$font1: Baskerville, Baskerville Old Face, Hoefler Text, Garamond,
  Times New Roman, serify;
$fontHand: "Square Peg", cursive;
